<!DOCTYPE html>
<html>
<head>
	<title>Users</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	{% load static %}
	<link rel="stylesheet" href="{% static 'main/css/style.css'%}">	
</head>
<body>
	<div class="container">
		<h2>Users</h2>		
			<p><a href="/users/new">Add a New User</a></p>
			<table>
				<tr>
					<th>Id</th>
					<th>Full Name</th>
					<th>Email</th>
					<th>Created At</th>
					<th>Actions</th>
				</tr>
				<form action="buy" method="post">
				{% csrf_token %}
				{% for user in all_users %}					
					<tr>
						<td>{{ user.id }}</td>
						<td><a href="users/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a></td>
						<td>{{ user.email }}</td>						 
						<td>{{ user.created_at }}</td>		
						<td>						
						<a href="/users/{{ user.id }}">Show</a> | <a href="/users/{{ user.id }}/edit">Edit</a> | <a href="/users/{{ user.id }}/destroy">Delete</a>
						</td>
					</tr>	
				{% endfor %}
				</form> 				
			</table>
	</div>	
</body>
</html>
