<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Main</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
	{% load static %}
	<link rel="stylesheet" href="{% static 'main/css/style.css'%}">	
	<script src="{% static 'main/js/script.js' %}"></script>
</head>
<body> 
	<div class="container">	  
		<h2><span class="label label-default">Add a New Book Title and a Review</span></h2>	  	  
		<br><a href="/books">Home</a> | <a href="/logout">Logout</a>
		<form action='/books/add_book_review/' method='post'>
		{% csrf_token %}
			<div class="form-group">
				<br>
				<label for="bk_title">Book Title <input type="text" class="form-control" id="bk_title" placeholder="Enter book title" name="bk_title"></label><br>		
				<br><label>Author</label><br>
				<span for="author"> 
					Choose from the list 
					
					<select id="author_list" name="author_list">
						<option value="default">Select Author</option>	
						{% for author in authors %}										
						<option value="{{ author.name }}">{{ author.name }}</option>	
						{% endfor %}							
					</select>
					
					<br>Or add a new author <input type="text" class="form-control" id="author" placeholder="Enter new author name" name="author">
				</span><br>		
				<label for="review">Review </label><br>	
				<textarea rows="4" cols="50" placeholder="Enter review" id="review" name="review">
				</textarea>
				<br><br>
				<label for="rating">Rating
					<select name="rating" id="rating">
					  <option value="1">1</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					  <option value="5">5</option>
					</select>				
				</label> <label>stars</label><br>							
				<br><button type="submit" class="btn btn-default">Add Book and Review</button>
			<div class="form-group">
		</form>
		
	</div>	
</body>
</html>