<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
	{% load static %}
	<link rel="stylesheet" href="{% static 'main/css/style.css'%}">	
	
</head>
<body> 
    <div class="container">
		
		{% if messages %}			
			{% for message in messages %}
				<label><font color="red">{{ message }}</font></label>
			{% endfor %}			
		{% endif %}
		
		<h2>Register User</h2>
		<form action='/register/' method='post'>
		{% csrf_token %}
			<div class="form-group">
				<label for="name">Name <input type="text" class="form-control" id="name" placeholder="Enter name" name="name"></label><br>						
				<label for="username">Username <input type="text" class="form-control" id="username" placeholder="Enter username" name="username"></label><br>
				<label for="password">Password <input type="text" class="form-control" id="password" placeholder="Enter password" name="password"></label><br>
				<label for="confirm_password">Confirm Password <input type="text" class="form-control" id="confirm_password" placeholder="Enter password" name="confirm_password"></label><br>
				<button type="submit" class="btn btn-default">Register</button>
			<div class="form-group">
		</form>
		<hr>		
		<h2>Login</h2>
		<form action='/login/' method='post'>
		{% csrf_token %}
			<div class="form-group">
				<label for="username">Username <input type="text" class="form-control" id="username" placeholder="Enter username" name="username"></label><br>
				<label for="password">Password <input type="text" class="form-control" id="password" placeholder="Enter password" name="password"></label><br>							
				<button type="submit" class="btn btn-default">Login</button>
			</div>
		</form>		
	</div>
</body>
</html>