<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Main</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
	{% load static %}
	<link rel="stylesheet" href="{% static 'main/css/style.css'%}">	
	
</head>
<body> 
	<div class="container">	  
		<h2><span class="label label-default">Hello, {{ request.session.logged_in_user }}!</span></h2>	  	  		
		<a href="/logout">Logout</a>
		<h2>Users</h2>		
			<p><a href="/travels/add">Add Travel Plan</a></p>
			<h3>Your Trip Schedules</h3>
			<table>
				<tr>
					<th>Destination</th>
					<th>Travel Start Date</th>
					<th>Travel End Date</th>
					<th>Plan</th>					
				</tr>
				<form action="#" method="post">
				{% csrf_token %}
				<!-- {% for user in all_users %}					
					<tr>
						<td>{{ user.id }}</td>
						<td><a href="users/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a></td>
						<td>{{ user.email }}</td>						 
						<td>{{ user.created_at }}</td>		
						<td>						
						<a href="/users/{{ user.id }}">Show</a> | <a href="/users/{{ user.id }}/edit">Edit</a> | <a href="/users/{{ user.id }}/destroy">Delete</a>
						</td>
					</tr>	
				{% endfor %} -->
				{% for plan in user_travel_plan %}
					<tr>
						<td><a href="/travels/details/{{plan.5}}">{{plan.0}}</a></td>
						<td>{{plan.1}}</td>
						<td>{{plan.2}}</td>						 
						<td>{{plan.3}}</td>								
					</tr>	
				{% endfor %}
				</form> 				
			</table>
			
			<h3>Other User's Travel Plans</h3>
			<table>
				<tr>
					<th>Name</th>
					<th>Destination</th>
					<th>Travel Start Date</th>
					<th>Travel End Date</th>
					<th>Plan</th>
					<th>Actions</th>
				</tr>
				<form action="#" method="post">
				{% csrf_token %}
				<!-- {% for user in all_users %}					
					<tr>
						<td>{{ user.id }}</td>
						<td><a href="users/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a></td>
						<td>{{ user.email }}</td>						 
						<td>{{ user.created_at }}</td>		
						<td>						
						<a href="/users/{{ user.id }}">Show</a> | <a href="/users/{{ user.id }}/edit">Edit</a> | <a href="/users/{{ user.id }}/destroy">Delete</a>
						</td>
					</tr>	
				{% endfor %} -->
				{% for plan in all_travel_plans %}
					<tr>
						<td>{{plan.0}}</td>
						<td><a href="/travels/details/{{plan.5}}">{{plan.1}}</a></td>
						<td>{{plan.2}}</td>
						<td>{{plan.3}}</td>						 
						<td>{{plan.4}}</td>	
						<td><a href="/travels/{{plan.5}}">Join</a></td>						
					</tr>	
				{% endfor %}
				</form> 				
			</table>
	</div>	<br><br><br>
</body>
</html>